<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<section layout:fragment="conteudo">
	<div layout:include="MensagemGeral"></div>
	<h2>APRESENTAÇÃO</h2>
	<h4>O IX Congresso Integrado da Tecnologia da Informação (CITI 2017) é um evento promovido pelo Instituto Federal Fluminense campus Campos Centro e tem como objetivo divulgar a produção científica na área de Tecnologia da Informação e Educação, proporcionando a disseminação do conhecimento tecnológico. Este evento propicia um ambiente para a troca de experiências e ideias entre profissionais, estudantes e pesquisadores que atuam em pesquisa científica e tecnológica na área de informática e em áreas correlatas.</h4>
	<h4>Este ano, o CITI comemora a sua IX edição que ocorrerá nos dias 08, 09 e 10 de novembro de 2017, sendo organizado sob a supervisão da Coordenação de Informática do campus Campos Centro, com a colaboração dos alunos dos Cursos Superiores da área de Informática e da Pós-Graduação.</h4>
	<h4>Este ano, o tema central do Congresso é “Da Teoria à Prática: como superar os desafios?”, no qual pretende-se fazer uma reflexão das incertezas, medos e desafios dos futuros profissionais na área de TI e sua inserção de forma competitiva no mercado de trabalho. O evento será constituído de palestras, mesas redondas, apresentações de artigos e minicursos. </h4>
	<h4>Toda comunidade acadêmica do IFFluminense, assim como de outras instituições de ensino, poderá submeter trabalhos dentro das temáticas: Informática na Educação ou Informática Aplicada. Dentre os tópicos a serem abordados este ano, destacamos os seguintes:</h4>
<h4>	
	Informática na Educação, contemplando temas relativos à:

Ações Inovadoras em IE;

Arquiteturas Pedagógicas com uso de Tecnologias Digitais;

Computação Afetiva;

Ensino a Distância;

Ensino Híbrido;

Experiências com o Uso de Tecnologias Digitais no Ensino;

Games e Gamificação;

M-Learning;

Mineração de Textos;

Objetos de Aprendizagem;

Políticas de Inclusão Digital;

Realidade Aumentada;

Sistemas de Autoria;

Experiências com uso de tecnologias digitais no ensino.

Informática Aplicada, contemplando os temas relativos à:

Armazenamento e recuperação de informação;

Engenharia de Software;

Gestão de TI;

Inteligência Artificial;

Plataformas de Desenvolvimento de Software;

Projetos Baseados em Software Livre;

Políticas de Inclusão Digital;

Qualidade de Software;

Processo de Software;

Sistemas Embarcados.	
</h4>

<h4>Mesmo o país passando por um momento em que a crise brasileira afeta diversos setores, identificou-se que a área de tecnologia continua em crescimento. Sendo assim, o intuito do CITI 2017 é oferecer um espaço democrático que aproxime os futuros profissionais de Tecnologia da Informação das possibilidades existentes e emergentes no mercado de trabalho deste setor.</h4>



</section>
</html>
