<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<section layout:fragment="conteudo">
	<div layout:include="MensagemGeral"></div>

	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Lista de Festas</h1>
			<a class="btn btn-link aw-link-panel" th:href="@{/festas/novo}">Nova
				Festa</a>
		</div>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Nome da Festas</th>
						<th>Usuario</th>
						<th>Data</th>
						<th>Valor</th>
						<th colspan="2">Ação</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="festa : ${festas}">
						<td th:text="${festa.nome}">xxx</td>
						<td th:text="${festa.usuario.nome}">xxx@xxx</td>
						<td th:text="${festa.data}">xxxx-xx-xx</td>
						<td th:text="${festa.valor}">xx,xxx</td>
						<td><a th:href="@{/festas/alterar/}+${festa.idFesta}"
							class="glyphicon glyphicon-pencil"></a></td>
						<td><a class="btn btn-link btn-xs" data-toggle="modal"
							data-target="#confirmacaoExclusaoModal"
							th:attr="data-codigo=${festa.idFesta}, data-descricao=${festa.nome}, data-model='festa' "
							title="Excluir" rel="tooltip" data-placement="top"> <span
								class="glyphicon glyphicon-remove"></span>
						</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div layout:include="DialogoConfirmacaoExclusao"></div>
	</div>
</section>
</html>
